.error {
	background-color: red;
}
body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
	color: black;
}

header, footer, nav, main {
  position:relative;
	border: black solid 1px;
}

header ul {
	list-style-type: none;
}

header li {
	display: inline-block
}

nav {
  float: left;
  width: 200px;
	border-left:0;
	border-bottom: solid 0px;
	margin-top: -1px;
}

nav li {
	list-style-type: square;
}

nav ul    {
	margin: 2;
	padding: 2;
	list-style-type: square;
}

main {
	background-color: #aaa;
	margin-top: -1px;
  margin-left:200px;
	padding: 10px;
	border-bottom: 0;
	border-right: 0;
	min-height:180px
}

table, tr, th, td{
	border: 1px solid black;
}

td th{
	height: 50px;
}

nav ul li {
	margin: 0;
	padding: 0;
}

nav ul li a {
	margin:0;
	padding:0 10px;
	display:block;
}

a {
	text-decoration: none;
  color: green;
}

nav ul li a:hover {
	background-color: #555;
	color: white;
}

.breadcrumb-item{
	list-style-type: none;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.card-img-top {
	width: 128px;
	height:128px;
}

.heart {
	width: 160%;
	height: 160%;
}

.heartNotFilled{
	fill: grey;
}

.heartFilled{
	fill: red;
}

.svg-carte {
	position: absolute;
	top: 2%;
	left: 86%;
	right: 0;
}

.svg-recette {
	position: absolute;
	top: 4%;
	left: 98%;
	right: 0;
}
